@media(max-width: 600px) {
    .hideoriginalnav {
      display: none;
       
     }
  }

  .toplogo {
   position: absolute;
   left: -235px;
   top: 10px;
 }

 @media(max-width: 700px) {
   .bottomlogo {
      display: none;
    }
 }
 
 