/* @media(min-width: 600px) {
    .brandbar {
      display:none; 
     }
  } */
  
 .mobilelogo {
/* display: flex;
align-items: center; */
margin-top: 15px;
margin-bottom: 3px; 

  
  }

  .brandcolorbar {
    color: #009933;
    
  }

  .nvpad {
    height: 80px;
  }

