.list-group {
  position: relative;
}

.item {
  /* background-color: rgb(255, 95, 95); */
  position: absolute;
  width: 40%;
  height: 40px;
  color: black;
  background-color: rgba(255, 255, 255, 0);
}

.completed {
  /* background-color: rgb(88, 247, 88); */
  position: absolute;
  width: 40%;
  height: 40px;
  color: #c8c8c8;
  background-color: rgba(255, 255, 255, 0);
}

.list-group-item {
  transition: top 0.3s ease-in, background-color 0s;
  transition-delay: 0.4s;
  width: 100%;
}

.list-group-item {
  padding: 0 0;
  border: 0;
}

#items-uncompleted-spacer {
  width: 100%;
  transition: all 0.3s ease-in;
  transition-delay: 0.4s;
}

#items-completed-spacer {
  width: 100%;
  transition: all 0.3s ease-in;
  transition-delay: 0.4s;
}

#itemCountSpacer {
  width: 100%;
  height: 43px;
  position: relative;
  color: #c8c8c8;
  margin-top: 10px;
  transition: top 0.3s ease-in;
  transition-delay: 0.4s;
}

#itemCountSpacer:after {
  background-color: #c8c8c8;
  content: "";
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
