.msg {
  color: #00c85c;
  position: absolute;
  right: 0;
  top: 60px;
}

.buttonContainer {
  padding-top: 20px;
  position: relative;
}

.successMsg {
  color: #00c85c;
}

.failMsg {
  color: red;
}

   /* label underline focus color */
   .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }

  .drkgreen {

    background-color: #004D1A;
    color: white;
  }
  .btn:hover {
    background-color: #009933
  }

  .input-field input[type=text]:focus + label {
    color: #000;
  }