h1 {
    color: #00c853;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: bold;

    }
    
    h2 {
        color: #00c853;
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
        font-weight: bold;
    
        }